.list {
    margin: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .group {
        display: flex;
        flex-direction: column;
        max-height: 95vh;

        &__title {
        }

        &__item {
            display: flex;
            flex-direction: column;

            &_title {

            }
        }
    }

    .submit-block {
        display: flex;
        margin-top: 1%;

        button {
            margin: 1%;
        }

        .icon-block {
            display: flex;

            mat-icon {
                cursor: pointer;
            }
        }
    }
}

.result-list {
    display: flex;
    flex-direction: column;
    max-height: 95vh;

    .result-info {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}

@media screen and (max-width: 900px) {
    .list {
        max-width: 90%;

        &__item {
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }

    .result-info {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
